<a href="https://colab.research.google.com/github/TNH510/Artificial-Intelligence/blob/main/week_3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open("text.txt", mode = 'w') as accounts:
  accounts.write('2014612 Nguyen Van A 8.0\n' )
  accounts.write('2014615 Nguyen Van B 7.0\n' )
  accounts.write('2014656 Nguyen Van C 9.0\n' )
  accounts.write('2014627 Nguyen Van D 6.0\n' )
  accounts.write('2014698 Nguyen Van E 3.0\n' )
  accounts.write('2014635 Nguyen Van F 4.0\n' )
  accounts.write('2014612 Tran Van A 8.0\n' )
  accounts.write('2014635 Tran Van F 4.0\n' )
  accounts.write('2014612 Tran Ngoc A 8.0\n' )
  accounts.write('2014635 Ly Van F 4.0\n' )
  accounts.write('2014612 Le Van A 8.0\n' )
  accounts.write('2014635 Le Van F 4.0\n' )
  accounts.write('2014612 Nguyen Van A 8.0\n' )
  accounts.write('2014635 Nguyen Van F 4.0\n' )
  accounts.write('2014614 Nguyen Van A 8.0\n' )
  accounts.write('2014564 Nguyen Van A 8.0\n' )
  accounts.write('2014389 Nguyen Van G 4.0\n' )
  accounts.write('2014657 Nguyen Van T 8.0\n' )
  accounts.write('2014645 Nguyen Van P 4.0\n' )
  accounts.write('2014712 Mac Van A 8.0\n' )

In [ ]:
with open ('text_2.txt', mode = 'w') as accounts:
  print('20145986 Tran Ngoc Anh 9', file = accounts)
  print('20145986 Tran Ngoc Anh 2', file = accounts)
  print('20148795 Nguyen Van G 9', file = accounts)
  print('20145954 Tran Ngoc Anh 10', file = accounts)
  print('20145986 Nguyen Van P 6', file = accounts)

In [ ]:
with open('text_2.txt', mode = 'r') as accounts:
  print(f'{"MSSV" : < 10 } {"Name:" <20} {"Score:" >4}')
  for record in accounts:
    mssv, name, score = record.split()
    print(f'{mssv: < 10} {name: < 20} {score: > 4}')

ValueError: ignored

In [ ]:
import pandas as pd
url = 'Data.csv' #Save csv file ưith format UTF - 8
dataframe = pd.read_csv(url)
dataframe.head(13)

        MSSV        Họ và tên  Khóa  Khoa  Điểm
0   20146728     Trần Văn Anh     20  CKM     5
1   20146157  Nguyễn Văn Bình     20  CKM     5
2   20145468       Lê Thị Cẩm     20  CKM     7
3   19146765     Lê Văn Dương     19  CKM     1
4   18145126    Nguyễn Thị En     18  CKD     2
5   17145948      Lý Thị Phật     17  CKD    10
6   20146757      Trần Văn Gà     20  CKM     1
7   20146196  Nguyễn Văn Hiếu     20  CKM     5
8   20145423        Lê Thị Rê     20  CKD     6
9   19146746     Lê Văn Lương     19  CKM     7
10  18145565  Nguyễn Thị Minh     18  CKD     4
11  17145999     Lý Thị Nương     17  CKD     4

In [ ]:
import pandas as pd
url = 'Data.csv' #Save csv file ưith format UTF - 8
dataframe = pd.read_csv(url)
dataframe.iloc[5]#Lay du lieu hang thu 5
#dataframe.iloc[2:10]#Lay du lieu tu 2 den 10

MSSV            17145948
Họ và tên    Lý Thị Phật
Khóa                  17
Khoa                 CKD
Điểm                  10
Name: 5, dtype: object

In [ ]:
import pandas as pd
url = 'Data.csv' #Save csv file ưith format UTF - 8
dataframe = pd.read_csv(url)
frame = dataframe.set_index(dataframe['Họ và tên'] )
frame.loc['Nguyễn Văn Bình']#Lọc data để tìm tên

MSSV                20146157
Họ và tên    Nguyễn Văn Bình
Khóa                      20
Khoa                     CKM
Điểm                       5
Name: Nguyễn Văn Bình, dtype: object

In [ ]:
import pandas as pd
url = 'Data.csv' #Save csv file ưith format UTF - 8
dataframe = pd.read_csv(url)
dataframe[dataframe['Khoa'] == 'CKD'].head(10) #List all data contain string 'CKD'

        MSSV        Họ và tên  Khóa  Khoa  Điểm
4   18145126    Nguyễn Thị En     18  CKD     2
5   17145948      Lý Thị Phật     17  CKD    10
8   20145423        Lê Thị Rê     20  CKD     6
10  18145565  Nguyễn Thị Minh     18  CKD     4
11  17145999     Lý Thị Nương     17  CKD     4

In [ ]:
import pandas as pd
url = 'Data.csv' #Save csv file ưith format UTF - 8
dataframe = pd.read_csv(url)
dataframe[dataframe['Điểm'] == 5] #List all student have score 5

Empty DataFrame
Columns: [MSSV, Họ và tên, Khoa, Điểm, Khóa]
Index: []

In [ ]:
import pandas as pd
url = 'Data.csv' #Save csv file ưith format UTF - 8
dataframe = pd.read_csv(url)
dataframe[(dataframe['Khoa'] == 'CKM')|(dataframe['Điểm'] > 6)]

        MSSV        Họ và tên Khoa  Điểm  Khóa
0   20146728     Trần Văn Anh  CKM     2    20
1   20146157  Nguyễn Văn Bình  CKM    10    20
2   20145468       Lê Thị Cẩm  CKM     6    20
3   19146765     Lê Văn Dương  CKM    10    19
4   18145126    Nguyễn Thị En  CKD    10    18
6   20146757      Trần Văn Gà  CKM     8    20
7   20146196  Nguyễn Văn Hiếu  CKM     7    20
9   19146746     Lê Văn Lương  CKM     8    19
10  18145565  Nguyễn Thị Minh  CKD     8    18

In [ ]:
import pandas as pd
url = 'Data.csv' #Save csv file ưith format UTF - 8
dataframe = pd.read_csv(url)
dataframe['Khóa'].min()
#min(), max(), sum(), count(), unique(), value_counts()

17

In [ ]:
import pandas as pd
url = 'Data.csv' #Save csv file ưith format UTF - 8
dataframe = pd.read_csv(url)
dataframe.drop(['Khóa', 'Khoa'], axis = 1).head(14) #Delete 'Khoa' column in temp memory

        MSSV        Họ và tên  Điểm
0   20146728     Trần Văn Anh     2
1   20146157  Nguyễn Văn Bình    10
2   20145468       Lê Thị Cẩm     6
3   19146765     Lê Văn Dương    10
4   18145126    Nguyễn Thị En    10
5   17145948      Lý Thị Phật     2
6   20146757      Trần Văn Gà     8
7   20146196  Nguyễn Văn Hiếu     7
8   20145423        Lê Thị Rê     6
9   19146746     Lê Văn Lương     8
10  18145565  Nguyễn Thị Minh     8
11  17145999     Lý Thị Nương     2

In [ ]:
import pandas as pd
url = 'Data.csv' #Save csv file ưith format UTF - 8
dataframe = pd.read_csv(url)
dataframe.drop(dataframe.columns[2:6], axis = 1).head(14) #Xoa cot tu cot 2 den cot 6 (0,1,2,3,4,...)

        MSSV        Họ và tên
0   20146728     Trần Văn Anh
1   20146157  Nguyễn Văn Bình
2   20145468       Lê Thị Cẩm
3   19146765     Lê Văn Dương
4   18145126    Nguyễn Thị En
5   17145948      Lý Thị Phật
6   20146757      Trần Văn Gà
7   20146196  Nguyễn Văn Hiếu
8   20145423        Lê Thị Rê
9   19146746     Lê Văn Lương
10  18145565  Nguyễn Thị Minh
11  17145999     Lý Thị Nương

In [ ]:
import pandas as pd
url = 'Data.csv' #Save csv file ưith format UTF - 8
dataframe = pd.read_csv(url)
dataframe[dataframe['Khóa'] != 20].head(14) #Xóa các khóa 20 đi (xóa theo hàng)

        MSSV        Họ và tên Khoa  Điểm  Khóa
3   19146765     Lê Văn Dương  CKM    10    19
4   18145126    Nguyễn Thị En  CKD    10    18
5   17145948      Lý Thị Phật  CKD     2    17
9   19146746     Lê Văn Lương  CKM     8    19
10  18145565  Nguyễn Thị Minh  CKD     8    18
11  17145999     Lý Thị Nương  CKD     2    17

In [ ]:
import pandas as pd
url = 'Data.csv' #Save csv file ưith format UTF - 8
dataframe = pd.read_csv(url)
dataframe[dataframe.index != 6].head(14) #Xóa các hàng 6 đi (xóa theo hàng)

        MSSV        Họ và tên Khoa  Điểm  Khóa
0   20146728     Trần Văn Anh  CKM     2    20
1   20146157  Nguyễn Văn Bình  CKM    10    20
2   20145468       Lê Thị Cẩm  CKM     6    20
3   19146765     Lê Văn Dương  CKM    10    19
4   18145126    Nguyễn Thị En  CKD    10    18
5   17145948      Lý Thị Phật  CKD     2    17
7   20146196  Nguyễn Văn Hiếu  CKM     7    20
8   20145423        Lê Thị Rê  CKD     6    20
9   19146746     Lê Văn Lương  CKM     8    19
10  18145565  Nguyễn Thị Minh  CKD     8    18
11  17145999     Lý Thị Nương  CKD     2    17

In [ ]:
import pandas as pd
url = 'Data.csv' #Save csv file ưith format UTF - 8
dataframe = pd.read_csv(url)
dataframe.groupby('Khoa').count()
#dataframe.groupby('Khóa').count()
#dataframe.groupby(['Khoa','Khóa']).count()

      MSSV  Họ và tên  Điểm  Khóa
Khoa
CKD      5          5     5     5
CKM      7          7     7     7

In [ ]:
#-------------------------------------------

In [ ]:
import numpy as np
import pandas as pd

time = pd.date_range('01/01/2023', periods = 100000, freq = '30s')#Tao data, 0h00 lay 100000 mau, 30s lay 1 lan
dataframe = pd.DataFrame(index = time)
dataframe['Acess_Amount'] = np.random.randint(1,10,100000)# tao so ngau nhien tu 1 den 10 100000 lan de tao du lieu
dataframe.resample('d').sum()# w la week, d la day, m la month

            Acess_Amount
2023-01-01         14318
2023-01-02         14601
2023-01-03         14361
2023-01-04         14575
2023-01-05         14317
2023-01-06         14156
2023-01-07         14347
2023-01-08         14375
2023-01-09         14454
2023-01-10         14407
2023-01-11         14412
2023-01-12         14654
2023-01-13         14151
2023-01-14         14220
2023-01-15         14459
2023-01-16         14266
2023-01-17         14620
2023-01-18         14442
2023-01-19         14500
2023-01-20         14200
2023-01-21         14335
2023-01-22         14401
2023-01-23         14454
2023-01-24         14362
2023-01-25         14332
2023-01-26         14590
2023-01-27         14447
2023-01-28         14318
2023-01-29         14766
2023-01-30         14488
2023-01-31         14105
2023-02-01         14417
2023-02-02         14459
2023-02-03         14544
2023-02-04         10232

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
dataframe[dataframe['Year'] == 1924].head()

KeyError: ignored